<%- include('../partials/header') %>

<h1>Post Submission</h1>
<form action="/posts" method="POST">
  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="mb-3">
    <label class="form-label">Source</label>
    <input type="text" class="form-control" name="source">
  </div>
  <div class="mb-3">
    <label class="form-label">Link</label>
    <input type="text" class="form-control" name="link">
  </div>
  <div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control" name="author">
  </div>
  <div class="mb-3">
    <label class="form-label">First Published</label>
    <input type="number" class="form-control" name="pubYear">
  </div>
  <div class="mb-3">
    <label class="form-label">Text</label>
    <textarea class="form-control" name="text"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Tags</label>
    <input type="text" class="form-control" name="tags">
  </div>
  <input type="submit" class="btn btn-primary" value="Post">
</form>
<%- include('../partials/footer') %>